:root {
	
}

.stage {
	display:grid;
	grid-template-rows:1fr auto;
	min-height:100vh;
}

.canvaswrap {
	padding:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}

nav {
	padding:20px;
	right: 1px;
	position: inherit;

	
}

header {
	padding-left:20px;
	overflow:hidden;
	position:fixed;
	display:flex;
	width: 100%;
}

h1 {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	color: #FFF;
}

body {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 100;
	font-style: normal;
	
	overflow-y:hidden;
	background-color:#171717;
}

canvas {
	background: transparent;
	border-radius: 12px;
	box-shadow: 0 8px 30px rgba(2,6,23,0.6)
}
